<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343642653146-5q4ml5djh9igrh261satcvfb5a65dkf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343642653146-5q4ml5djh9igrh261satcvfb5a65dkf1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>343642653146-5jaagp3ocd32ajgvin122lmjntumqn41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdXI3ustwUdRl2zML_K63UzuAPWQYLwdc</string>
	<key>GCM_SENDER_ID</key>
	<string>343642653146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-31efd</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-31efd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343642653146:ios:8fc26d366c476890cb00e3</string>
</dict>
</plist>